<br>
<div class="owl-carousel">
  <div class="interested_book">All Genres: </div>
  <% Genre.all.each do |genre| %>
    <li><div class="glyphicon glyphicon-tags" style="color:#63bbbe"><span class="genre_img"><%= link_to "#{genre.name}", genre_path(genre), class: "interested_book " %></span></li>
  <% end %>
</div>
<br>
<% images = ['1.jpg', '2.jpg'] %>
<%= carousel_for(images) %>
