<div id="container-index">
  <header>
      <h2>Most Recent Popular Books</h2>
      <p>Find what you like...</p>
  </header>
  <div class="photobanner">
    <% @books.each_with_index do |book, index| %>
      <% if book.image.present? %>
        <% if index == 0 %>
          <!-- <span data={book_id: book.id.to_json}> -->
          <%= image_tag book.image.medium.url, class: 'first bookcover', alt: "", id: book.id, title: book.title, description: book.description, author: book.author, owners: book.owners %>
        <% else %>
          <%= image_tag book.image.medium.url, class: 'bookcover', alt: "", id: book.id, title: book.title, description: book.description, author: book.author, owners: book.owners  %>
        <% end %>
      <% end %>
  <% end %>
  <% @books.each do |book| %>
    <% if book.image.present? %>
      <%= image_tag book.image.medium.url, alt: "", class: 'bookcover', id: book.id, title: book.title, description: book.description, author: book.author  %>
    <% end %>
<% end %>
  </div>
</div>

<div id="dialog" >
  <div id="dialogauthor"> </div>
  <div id="dialogcontent"> </div>
  <div id="dialogpicture"> </div>
  <div id="dialogbookowners"> </div>
  <br>
  <button type="button" class="btn btn-info btn-xs addbooklist">
    <p class="glyphicon glyphicon-book" aria-hidden="true" ><span class="dialog_button"> Add to your book list</span></p>
  </button>
  <button type="button" class="btn btn-info btn-xs addwishlist">
    <p class="glyphicon glyphicon-heart" aria-hidden="true"><span class="dialog_button"> Add to your wish list</span></p>
  </button>
  <button type="button" class="btn btn-info btn-xs contactowner">
    <p class="glyphicon glyphicon-user" aria-hidden="true"><span class="dialog_button"> Contact Owner</span></p>
  </button>
</div>
