$navbar-default-bg: #5f819f;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "Trebuchet MS";
  // background-color: #dddddd;
}

li {
  list-style: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#icon {
  color:white;
  font-size: 110%;
}

.center {
  text-align: center;
}

.jumbotron {
  // background-image: asset-url('1.jpg');
  background-size: cover;
  height: 700px;
  margin: 0;
}

.owl-wrapper-outer {
  position: absolute;
  bottom: 50%;
  // left: 45%;
  z-index: 20;
  color: darkblue;
  // color: #fff;
  // text-align: center;
  // margin-bottom: -10px;
  // letter-spacing: -1px;
  // font-weight: bold;
  // text-shadow: 1px 1px 2px black, 0 0 45px red, 0 0 45px pink;
}

// .btn-sm {
//   font-size: 0.8em;
//   background-color: black;
// }

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hovet {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float:right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.book-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.book-title {
  font-weight: bold;
  font-size: 1.5em;
}

.book-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.comment {
  margin: 30px 0 30px 0;
}

.book-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

.radio {
  margin-left: 20px;
}

.radio_label {
  display: inline-block;
  // color: blue;
  font-family: fantasy;
  font-size: 180%;
  margin-left: -5px;
  margin-right: 60px;
}

.unit_label {
  margin: 5px 15px 0 3px;
}

.book-info {
  font-size: 120%;
  font-style: oblique;
}

.book-details {
  font-size: 120%;
  color: darkblue;
}

.well {
  background-color: #d8e5f1;
}

#description-detail {
  color: darkblue;
}

.panel-default >.panel-heading {
    background-color: #d8e5f1;
}

.panel-body {
  font-size: 120%;
}

#panel_title {
  font-size: 130%;
  font-family: "Comic Sans MS";
  color: darkblue;
}

#user_show {
  background-image: asset-url('10.jpg');
  background-size: 100% 120%;
  background-repeat: no-repeat;
}

#book_show {
  background-image: asset-url('12.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.book_new {
  background-image: asset-url('18.jpg');
  background-size: 1180px 850px;
}

.user_new {
  background-image: asset-url('11.jpg');
}

.user_list {
  font-size: 220%;
  font-family: fantasy;
  color:darkblue;
  font-weight: bold;
}

.page_title {
  // font-family: fantasy;
  color: darkblue;
}

.book_title {
  color: darkblue;
  font-family: fantasy;
  font-size: 120%;
  font-weight: bold;
}

.book_show_title {
  font-weight: bold;
  color: darkblue;
  font-family: fantasy;
  font-size: 300%;
  margin-top: 4px;
}

.interested_book {
  font-size: 220%;
  font-family: fantasy;
  color: #8d8484;
  font-weight: bold;
  text-shadow: 2px 2px 5px white;
  margin: 2px;
}

.info_tag {
  color: white;
}

.borderimg {
  border: 10px solid transparent;
  border-image: url(border-1.jpg) 30 round;
}

.genre_img {
  background-image: asset-url('b6.jpg');
  background-size: cover;
  margin-left: 12px;
}

#genre_index {
  background-image: asset-url('13.png');
  background-size: 900px 850px;
  background-repeat: no-repeat;
  background-position: center;
}

#genre_show {
  background-image: asset-url('4.JPG');
  background-size: cover;
}
